# .gitignore — Ignorar archivos locales y generados por Nextflow

# Work folders
work/
results/
.nextflow*
.cache/
trace.txt
timeline.html
dag.png

# Local files
conf/params_private.config

# Test 
test_results/

# large files
*.mmi
*.log
*.tar.gz
*.zip

# Local databases (too large for git)
db_gtdb_r226/

# Local analysis outputs and figures
figures/

# temporals
*.tmp
*.bak
*.swp

# Python

__pycache__*
*.pyc