// nextflow.config

docker {
  enabled = true
  runOptions = '-u $(id -u):$(id -g)'
}

includeConfig 'config/containers.config'

params {
  cmd = 'abundance'    

  // ABUNDANCE
  input = 'data/'
  output_dir = 'results/'
  db = 'db/'
  taxonomy_tsv = 'db/taxonomy.tsv'
  threads = 8
  kmer_size = 27
  N = 20
  K = 1000000000
  type = 'map-ont'
  split_prefix = 'temp'
  min_length = 500
  max_length = 2000
  keep_counts = false
  keep_files = false

  // BUILD DATABASE
  db_name        = 'db_custom'
  sequences      = null
  seq2tax        = null
  ncbi_taxonomy  = null
  taxonomy_list  = null

  // COLLAPSE
  input_tsv   = null
  rank        = null

  // COMBINE
  input_dir = null
  rank = null
}

