// nextflow.config

docker {
  enabled = true
  runOptions = '-u $(id -u):$(id -g)'
}

includeConfig 'config/containers.config'

params {
  cmd = 'abundance'
  input = 'data/'                     // Carpeta de datos de entrada (genérica)
  output_dir = 'results/'             // Carpeta de resultados
  db = 'db/'                          // Carpeta de base de datos
  taxonomy_tsv = 'db/taxonomy.tsv'    // Archivo de taxonomía dentro de la base

  threads = 8
  kmer_size = 28
  N = 3
  K = 4000000000
  type = 'map-ont'
  split_prefix = 'temp'

  min_length = 500
  max_length = 2000

  keep_counts = true
}



