// config/containers.config

process {
  withLabel: 'filter_reads' {
    container = 'vi-pipeline/fastplong:0.2.2'
    cpus = 2
    memory = '2 GB'
    time = '30m'
  }


  withLabel: 'alignment' {
    container = 'quay.io/biocontainers/minimap2:2.24--h7132678_1'
    cpus = 10
    memory = '12 GB'
    time = '2h'
  }

  withLabel: 'vi_stats' {
    container = 'vi-pipeline/python:3.8'
    cpus = 2
    memory = '4 GB'
    time = '1h'
  }

  withLabel: 'vi_inference' {
    container = 'vi-pipeline/python:3.8'
    cpus = 4
    memory = '8 GB'
    time = '2h'
  }

  withLabel: 'vi_output' {
    container = 'vi-pipeline/python:3.8'
    cpus = 2
    memory = '2 GB'
    time = '30m'
  }
}



